<h1>Restaurants#new</h1>
<p>Find me in app/views/restaurants/new.html.erb</p>

<%= form_with model: @restaurant do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :address %>
  <%= form.number_field :rating %>
  <%= form.submit %>
<% end %>